[user]
	name = Mattias Erming
	email = mattias@erming.io
[push]
	default = simple
[credential]
	helper = cache --timeout=2592000
[alias]
	a = add --all
	b = branch
	c = commit
	d = diff
	l = log --oneline -5
	p = push
	s = status
